.heading{
width: 275px;
height: 96px;
text-align: center;
background-color: black;
}
#img{
    margin-left: 630px;
    margin-top: 10px;
}
.forms{
    border-radius: 50px;
    width: 384px;
    margin-left: 570px;
    margin-top: 19px;
    padding-top: 12px;
}
.btn-outline-success{
    margin-left: 100px; 
    width: 166px; 
    height: 35px;
}
.inputs{
    margin-bottom: 10px;
    width: 380px;
}
#mobile{
    padding-left: 10px;
}
.bottom{
    text-align: center;
     font-size: 20px;
     margin-top: 10px;
}
#background{
    background-color: rgb(206, 205, 205);
    height: 650px;
}