.box{
    color: aliceblue;
    background-color: blue;
    width: 77px;
    height: 75px;
    border: 3px solid black;
    padding: 50px;
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;

}
.box1{
    background-color: aqua;
    width: 75px;
    height: 75px;
    border: 3px solid black;
    margin-left: 154px;
    margin-bottom: 10px;
    padding: 50px;

}