.navigation{
    color: green;
    width: 100%;
    height: 20%;
    background-color: black;
    padding: 10px;
    font-size: medium;
    margin-right: 100%;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.name{
    font-size: 35px;
    position: absolute;
    top: 25px;
}