.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #282828;
  }
  
  .logo {
    color: white;
    font-size: 22px;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .navbar-user a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
  }
  