.svg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.Music-image{
    background-image: url(./images/fmusic.jpg);
    height: 100vh;
    background-size: cover;
}
.Content {
    color: aliceblue;
    text-align: center;

}
.img{
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
   
}
#cardib{
    width: 250px;
    height: 325px;
    
}

#card1{

    background-color: aquamarine;
}

.carousel{
    
}





@media screen and (max-width: 500px) {
    #cardib{
        margin-left: 100px;
        background-color: black;
        color: red;
    }
    
}
